{
    "app": {
        "environment": "development"
    },
    "mysql": {
        "host": "0.0.0.0",
        "port": 3306,
        "username": "user",
        "password": "1234-xD",
        "database": "noice"
    },
       "ftp": {
         "host": "",
         "port": 22,
         "username": "",
         "password": ""
    },
    "sentry":{
        "dsn": "url"
    }
}
